<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/site.css' />
  </head>
  <body>
    <div id="overlay" class="fade-in"></div>
    <div id="dashboard">
      <% include ./navigation %>
      <% include ./header %>
      <div id="container"></div>
      <% include ./pagination %>
      <% include ./footer %>
    </div>
    <script type="application/javascript" src="/javascripts/bundle.js"></script>
  </body>
</html>
