<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/site.css' />
  </head>
  <body>
    <div id="overlay"></div>
    <% include ./navigation %>
    <% include ./header %>
    <div id="container"></div>
    <% include ./footer %>
    <script type="application/javascript" src="/javascripts/utils.js"></script>
    <script type="application/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
