/* Globals */
:root {
  --nav--boxshadow: 0 2px 12px 0 rgba(36,50,66,.075);
  --font-primary: gordita, "Helvetica Neue", Helvetica, sans-serif;;
  --color-text-primary: #646f79;
  --color-text-secondary: rgb(100, 111, 121);
  --color-text-white: #FFFFFF;
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

h1, h2, h3, h4, h4, h6, p, div, a {
  font-family: var(--font-primary);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#modal {
  width: 500px;
  margin: 0px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal__img {
  width: 100%;
  padding: 32px 0px;
  cursor: default;
}

/* Partials */
#nav {
  box-shadow: var(--nav--boxshadow);
  height: 54px;
  padding: 0px 54px;
  display: flex;
}

.nav__logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 54px;
}

.nav__logo-container img {
  width: 112px;
}

.nav__sub-logo {
  margin-left: 8px;
  font-family: var(--font-family-primary);
}

.nav__sub-logo p {
  color: #2D3C54;
  font-weight: 300;
  line-height: initial;
}

.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  padding: 0px 16px;
}

.site-header h1 {
  font-weight: 300;
  font-family: var(--font-primary);
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-primary);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
  font-weight: 300;
}

.site-header__quote p {
  font-size: 22px;
  color: rgb(100, 111, 121);
  font-weight: 300;
}

.site-header__quote cite {
  font-weight: 400;
  font-style: unset;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 16px 54px;
}

.container__card {
  border-radius: var(--border-radius-primary);
  box-shadow: 0 3px 5px 0 rgba(36,50,66,.1);
  margin: 8px;
}

.container__card:hover {
  cursor: pointer;
  color: #008CE3;
  background-color: #EDF8FF;
  box-shadow: 0 30px 50px 0 rgba(36,50,66,.1);
  transition: .2s ease-in, .2s box-shadow;
}

.card__img-container {
  height: 0;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px 3px 0px 0px;
}

.card__body {

}

.card-body__p {
  font-weight: 400;
  font-family: var(--font-family-primary);
  padding: 0px 32px;
}

.site-footer {
  width: 100%;
  color: var(--color-text-secondary);
  font-family: var(--font-primary);
  text-align: center;
  background-color: #222B37;
  height: 54px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-footer p {
  padding: 0px 16px;
}

@media screen and (max-width: 991px) {
  #nav {
    padding: 0px 16px;
  }  
}

@media screen and (max-width: 767px) {
  #container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  #container {
    grid-template-columns: 1fr;
    padding: 0px 16px;
  }
}
